@font-face {
    font-family:"font";
   src: url(/font/Roboto/Roboto-Medium.ttf); 
}
@font-face{
   font-family: "font1";
   src: url(/font/Roboto/Roboto-Light.ttf);
}

* {
   
   font-family:"font";
}
body{
 background-color: rgb(251, 251, 251);  
}

/*navbar*/
.navbar {
   margin: 14px 95px 14px 95px;
}

.navbar h3 {
   color: rgb(255, 106, 0);
   font-weight: 700;
   font-size: 25px;
}

.navbar h3::after {
   content: "& Tours";
   color: black;
}

.navbar li:hover {
   color: black;
   transform: scale(1.04);
}

.navbar-nav a i {
   font-size: 14px;
   margin-left: 4px;
}

.navbar a {
   text-decoration: none;
   color: rgb(128, 128, 128);
   font-size: 14px !important;
   margin-left: 10px;
}

.navbar a:hover {
   color: black;
   transform: scale(1.04);
}

.navbar .btn {
   border: 0px;
   background-color: rgba(6, 228, 206, 0.764);
   color: white;
   border-radius: 30px;
   text-align: center;
   padding: 7px 18px;
   font-size: 13px;
   box-shadow: 1px 1px 7px rgba(0, 114, 103, 0.764);
}

nav .btn:hover {
   transform: scale(1.05);
   background-color: rgb(2, 203, 187);
   color: white;
}

.navbar-toggler {
   position: absolute;
   right: 0;
}

.bi-bell {
   font-size: 17px;
}

.bi-bell:hover {
   color: black;
}

.person {
   background-color: rgb(20, 150, 231);
   color: white;
   font-size: 17px;
   border-radius: 50%;
   padding: 5px 7px;
   box-shadow: 1px 2px 4px rgb(34, 163, 243);
}

.dropdown-menu {
   width: 170px;
   border: 1px rgb(255, 106, 0) solid;
}

.dropdown-menu a {
   font-size: 18px;
}

.dropdown-item:hover {
   background-color: rgba(255, 106, 0, 0.461);
   width: 85%;
   margin: auto;
}
.photo{
   background-image: url(../img/img.webp);
   height: 50vh; 
   background-blend-mode:multiply;
  background-color: rgba(0, 102, 48, 0.421);
background-repeat:no-repeat;
background-size:cover;
background-position: center;
position: relative;
z-index: -1;
}
.photo .text-div{
position: absolute;
top: 50%;
transform: translateY(-50%);
left: 200px;
z-index: 1;

}
.text-div h1{
   color: white;
   font-size: 50px;
   font-weight: 800;
}
.text-div a{
   font-size: 20px;
   color: white;
   text-decoration: none;
   font-weight:100;
   z-index: 11;
   font-family: "font1";

   }
#ab{
   padding-left: 10px;
   
}
/**/
.one{
    padding:100px 150px;
    letter-spacing: 1px;
}
.one h1{
font-size:43px;
font-weight: 700;
margin-bottom: 50px;
}
.one h6{
    font-family: "font1";
    font-size: 14px;
    font-weight: 500;

}
.form h1{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 45px;
}
form{
    background-color: rgba(241, 241, 241, 0.634);
    padding:40px  65px!important;
    border-radius: 15px;
    
    
}
.form .container{
    padding:30px 120px
}
.form .submit-btn{
float:right ;}
.form-group input{
   border-radius: 10px;
}
.form-group label{
   font-size: 14px;
   color: rgb(108, 108, 108);
}
.form input::placeholder{
   font-size: 12px;
}
.form small{
   color: red;
}
.submit-btn{

      background-color: rgb(255, 106, 0);
      color: white;
      padding: 12px 24px;
      border-radius: 30px;
      font-size: 13px;
      box-shadow: 1px 1px 10px rgb(255, 106, 0);
      border: none;
  }
   /*foooter*/
   footer{
      margin-top:50px ;
  }

  .input h3{
      font-size: 25px;
      font-weight: 400;
  }
  input::placeholder{
      font-size: 13px;
  }

.btninput{
  background-color: rgb(20, 150, 231);
  padding: 7px 11px;
  border-radius: 50%;
  color: white;
 position: absolute;
 top: 94px;
right: 25px;}
.input{
  position: relative;
margin-left: -45px;
margin-top: 18px;
}

.input input{
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.772);
  border-radius: 30px;
  border:  1px solid rgba(71, 71, 71, 0.201);
}
.input h3{
  margin-bottom: 25px;
}


.foot h5{
color:rgb(255, 106, 0);
font-weight: 700;
}
.foot h5::after{
content: "& tour";
color: rgb(0, 0, 0);
}
.foot{
  margin-left: 160px;
padding-top: 1px;
  padding-bottom: 40px;
}
.foot p{
  color: rgb(117, 124, 131);
  font-size: 14px;
}
.foot a{
text-decoration: none;
}
.foot  a{
  font-size:13px ;
}
.foot p{
  margin-top: -5px;
}
.copy{
  margin-left: 90px;
  color: rgb(117, 124, 131);
  font-size: 13px;

}
.bibi{
  margin-right: 90px;
}
.fa-facebook-f{
  color: white;
  background-color:rgba(79, 207, 79, 0.893);
  padding:7px 9px;
  font-size: 12px;
  border-radius: 50%;
}
.fa-linkedin-in{
  color: white;
  background-color:rgb(255, 106, 0);
  padding: 7px;
  font-size: 13px;
  border-radius: 50%;

}
.fa-twitter{
  color: white;
  background-color: rgb(20, 150, 231);
  padding:7px;
  font-size: 12px;
  border-radius: 50%;
}
.bibi a{
  text-decoration: none!important;
}




